body {
  margin: 0px;
}

header, footer {
  margin: 35px 100px;
}

a, button {
  text-decoration: none;
}

.nav a, .contact, .contact a, .about-text {
  font-size: 14px;
}

a {
  color: #B0B0B0;
}

a:hover, .logo-text a, .about-text, .contact a {
  color: #222;
}

.logo-text a, .mobile-nav-link a {
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 1.5px;
  font-size: 30px;
}

.mobile-nav-link a, .logo-text a, .cd-buttons a {
  text-transform: uppercase;
}

.top-nav {
  margin-top: -45px;
}

.menu, .top-nav, .contact {
  text-align: right;
}

.menu {
  height: 22.5px;
  display: none;
}

li, .contact, .contact a, .about-text {
  font-family: 'Helvetica', sans-serif;
  letter-spacing: 1px;
  font-weight: 300;
}

li {
  display: inline;
  margin-left: 25px;
}

ul {
  list-style-type: none;
  padding: none;
  margin: none;
}

button {
  background: none;
  border: none;
  box-shadow: none;
  text-shadow: none;
  border-radius: none;
}

button:focus {
  outline: 0;
}

a, a:hover, button, button:hover, img, img:hover{
  -o-transition:.25s;
  -ms-transition:.25s;
  -moz-transition:.25s;
  -webkit-transition:.25s;
  transition:.25s;
}

.panel, .latest {
  height: 750px;
}

.latest, .btn-next {
  position: relative;
}

.panel-nav {
  z-index: 1;
  position: absolute;
  top: 45%;
}

.about-img, .panel-nav, .cd-popup {
  width: 100%;
}

.btn-prev, .btn-next {
  background-color: rgba(0,0,0,0.05);
}

.btn-prev {
  padding: 20px 20px 20px 16px;
  border-radius: 0px 2px 2px 0px;
  -moz-border-radius: 0px 2px 2px 0px;
  -webkit-border-radius: 0px 2px 2px 0px;
}

.btn-next {
  padding: 20px 16px 20px 20px;
  border-radius: 2px 0px 0px 2px;
  -moz-border-radius: 2px 0px 0px 2px;
  -webkit-border-radius: 2px 0px 0px 2px;
}

.btn-prev:hover, .btn-next:hover {
  background-color: rgba(0,0,0,0.1);
}

.btn-next, .menu {
  float: right;
}

.nav-img {
  color: #fff;
  font-size: 24px !important;
}

.social-link {
  margin-right: 10px;
  font-size: 16px;
  color: #C0C0C0;
}

footer {
  margin-top: 40px;
}

.contact {
  margin-top: -17px;
}

.email {
  margin-bottom: 8px;
}

.about {
  margin: 75px auto;
  text-align: center;
}

.about-content {
  display: inline-block;
  width: 35%;
}

.about-text {
  vertical-align: top;
  margin-left: 35px;
  text-align: left;
  line-height: 25px;
}

.about-text p {
  color: #333;
}

.about-text h2, .about-text h3 {
  font-weight: normal;
  margin-top: 0px;
}

/* --------------------------------
MEDIA QUERIES
-------------------------------- */

.menu {
  display: none;
}

@media (max-width: 1600px) {
  .panel {
    height: 500px;
  }

  .latest {
    height: 500px;
  }
}

@media only screen and (max-width: 768px), only screen and (max-device-width: 768px) {
  header, footer {
    margin: 35px 50px;
  }

  .about {
    margin: 75px 100px;
  }

  .about-content {
    display: block;
    width: 100%;
  }

  .about-text {
    margin-left: 0px;
    margin-top: 35px;
  }

  .social-links {
    text-align: center;
  }

  .social-link a {
    margin-right: 5px;
    margin-left: 5px;
  }

  .contact, .contact a{
    text-align: center;
    margin-top: 15px;
  }

  .top-nav {
    display: none;
  }

  .menu {
    display: block;
    margin-top: -26.8px;
    margin-bottom: 0px;
    font-size: 28px;
  }

  .panel, .latest {
    width: 100%;
    height: auto;
  }

  .about {
    margin: 75px 50px;
  }
}

/* --------------------------------
RESPONSIVE NAV-BAR
-------------------------------- */

.mobile-nav {
  margin-top: 175px;
  margin-left: -35px;
}

.mobile-nav-link, .mobile-nav-link a {
  display: block;
  margin: 25px;
  color: #222;
}

.mobile-nav-link a:hover {
  color: #B0B0B0;
}

.cd-popup {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  z-index: 2;
  -webkit-transition: opacity 0.3s 0s, visibility 0s 0.3s;
  -moz-transition: opacity 0.3s 0s, visibility 0s 0.3s;
  transition: opacity 0.3s 0s, visibility 0s 0.3s;
}

.cd-popup-container {
  text-align: center;
  -webkit-transform: translateY(-40px);
  -moz-transform: translateY(-40px);
  -ms-transform: translateY(-40px);
  -o-transform: translateY(-40px);
  transform: translateY(-40px);
  /* Force Hardware Acceleration in WebKit */
  -webkit-backface-visibility: hidden;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

.is-visible .cd-popup-container {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}

.cd-popup {
  position: fixed;
  background-color: rgba(255,255,255,0.9);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.3s 0s, visibility 0s 0.3s;
  -moz-transition: opacity 0.3s 0s, visibility 0s 0.3s;
  transition: opacity 0.3s 0s, visibility 0s 0.3s;
}

.cd-popup.is-visible {
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 0.3s 0s, visibility 0s 0s;
  -moz-transition: opacity 0.3s 0s, visibility 0s 0s;
  transition: opacity 0.3s 0s, visibility 0s 0s;
}



