body {
  margin: 0px;
}

header, footer {
  margin: 35px 100px;
}

a, button {
  text-decoration: none;
}

a, .contact, .contact a, .about-text {
  font-size: 14px;
}

a {
  color: #B0B0B0;
}

a:hover, .logo-text a, .about-text, .contact a {
  color: #222;
}

.logo-text a, .mobile-nav-link a {
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 1.5px;
  font-size: 30px;
}

.mobile-nav-link a, .logo-text a, .cd-buttons a {
  text-transform: uppercase;
}

.top-nav {
  margin-top: -45px;
}

.menu, .top-nav, .contact {
  text-align: right;
}

.menu-img, .social-icon {
  opacity: .35;
}

.menu-img {
  height: 22.5px;
  display: none;
}

.menu-img:hover, .social-icon:hover {
  opacity: .95;
}

li, .contact, .contact a, .about-text {
  font-family: 'Helvetica', sans-serif;
  letter-spacing: 1px;
  font-weight: 300;
}

li {
  display: inline;
  margin-left: 25px;
}

ul {
  list-style-type: none;
  padding: none;
  margin: none;
}

button {
  background: none;
  border: none;
  box-shadow: none;
  text-shadow: none;
  border-radius: none;
}

button:focus {
  outline: 0;
}

a, a:hover, button, button:hover, img, img:hover{
  -o-transition:.25s;
  -ms-transition:.25s;
  -moz-transition:.25s;
  -webkit-transition:.25s;
  transition:.25s;
}

.panel, .latest {
  height: 750px;
}

.latest, .btn-next {
  position: relative;
}

.panel-nav {
  z-index: 1;
  position: absolute;
  top: 45%;
}

.about-img, .panel-nav, .cd-popup {
  width: 100%;
}

.btn-prev, .btn-next {
  padding: 25px 20px;
  background-color: rgba(0,0,0,0.05);
}

.btn-prev:hover, .btn-next:hover {
  background-color: rgba(0,0,0,0.15);
}

.btn-next, .menu-img {
  float: right;
}

.nav-img {
  width: 10px;
}

.social-link {
  margin-right: 10px;
}

footer {
  margin-top: 40px;
}

.social-icon {
  height: 15px;
  display: inline-block;
}

.contact, .contact a {
  margin-top: -20px;
}

.email {
  margin-bottom: 5px;
}

.about {
  margin: 75px auto;
  text-align: center;
}

.about-content {
  display: inline-block;
  width: 35%;
}

.about-text {
  vertical-align: top;
  margin-left: 35px;
  text-align: left;
  line-height: 25px;
}

.about-text p {
  color: #333;
}

.about-text h2, .about-text h3 {
  font-weight: normal;
  margin-top: 0px;
}

/* --------------------------------
MEDIA QUERIES
-------------------------------- */
@media (max-width: 1600px) {
  .panel {
    height: 500px;
  }

  .latest {
    height: 500px;
  }
}

@media only screen and (max-width: 800px), only screen and (max-device-width: 800px) {
  header, footer {
    margin: 35px 50px;
  }
}

@media only screen and (max-width: 600px), only screen and (max-device-width: 600px) {
  .about {
    margin: 75px 100px;
  }

  .about-content {
    display: block;
    width: 100%;
  }
  .about-text {
    margin-left: 0px;
    margin-top: 35px;
  }
  .social-links {
    text-align: center;
  }
  .social-link {
    margin-right: 5px;
    margin-left: 5px;
  }

  .contact, .contact a{
    text-align: center;
    margin-top: 15px;
  }

  .top-nav {
    display: none;
  }

  .menu-img {
    display: block;
    margin-top: -51px;
    margin-bottom: 0px;
  }

  .panel, .latest {
    width: 100%;
    height: auto;
  }

  .about {
    margin: 75px 50px;
  }
}

/* --------------------------------
RESPONSIVE NAV-BAR
-------------------------------- */

.mobile-nav {
  margin-top: 175px;
  border-top: 2px solid #B0B0B0;
  border-bottom: 2px solid #B0B0B0;
}

.mobile-nav-link, .mobile-nav-link a{
  display: block;
  margin: 35px;
}

.cd-popup {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(94, 110, 141, 0.9);
  opacity: 0;
  visibility: hidden;
  z-index: 2;
  -webkit-transition: opacity 0.3s 0s, visibility 0s 0.3s;
  -moz-transition: opacity 0.3s 0s, visibility 0s 0.3s;
  transition: opacity 0.3s 0s, visibility 0s 0.3s;
}
.cd-popup.is-visible {
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 0.3s 0s, visibility 0s 0s;
  -moz-transition: opacity 0.3s 0s, visibility 0s 0s;
  transition: opacity 0.3s 0s, visibility 0s 0s;
}

.cd-popup-container {
  position: relative;
  width: 90%;
  max-width: 400px;
  margin: 4em auto;
  border-radius: .25em .25em .4em .4em;
  text-align: center;
  box-shadow: none;
  -webkit-transform: translateY(-40px);
  -moz-transform: translateY(-40px);
  -ms-transform: translateY(-40px);
  -o-transform: translateY(-40px);
  transform: translateY(-40px);
  /* Force Hardware Acceleration in WebKit */
  -webkit-backface-visibility: hidden;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.cd-popup-container p {
  padding: 3em 1em;
}
.cd-popup-container .cd-buttons:after {
  content: "";
  display: table;
  clear: both;
}
.cd-popup-container .cd-buttons li {
  float: left;
  width: 50%;
}
.cd-popup-container .cd-buttons a {
  display: block;
  height: 60px;
  line-height: 60px;
  color: #FFF;
  -webkit-transition: background-color 0.2s;
  -moz-transition: background-color 0.2s;
  transition: background-color 0.2s;
}
.cd-popup-container .cd-buttons li:first-child a {
  background: #fc7169;
  border-radius: 0 0 0 .25em;
}
.no-touch .cd-popup-container .cd-buttons li:first-child a:hover {
  background-color: #fc8982;
}
.cd-popup-container .cd-buttons li:last-child a {
  background: #b6bece;
  border-radius: 0 0 .25em 0;
}
.no-touch .cd-popup-container .cd-buttons li:last-child a:hover {
  background-color: #c5ccd8;
}

.cd-popup-container .cd-popup-close::before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  left: 8px;
}
.cd-popup-container .cd-popup-close::after {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  right: 8px;
}

.is-visible .cd-popup-container {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}



.cd-popup-trigger {
  display: block;
  box-shadow: 0 3px 0 rgba(0, 0, 0, 0.07);
}

.cd-popup {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  background-color: rgba(255,255,255,0.9);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.3s 0s, visibility 0s 0.3s;
  -moz-transition: opacity 0.3s 0s, visibility 0s 0.3s;
  transition: opacity 0.3s 0s, visibility 0s 0.3s;
}
.cd-popup.is-visible {
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 0.3s 0s, visibility 0s 0s;
  -moz-transition: opacity 0.3s 0s, visibility 0s 0s;
  transition: opacity 0.3s 0s, visibility 0s 0s;
}